@charset "utf-8";
@font-face {
    font-family: Nunito Black;
    src: url(fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Black Italic;
    src: url(fonts/Nunito/Nunito-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Bold;
    src: url(fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Bold Italic;
    src: url(fonts/Nunito/Nunito-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito ExtraBold;
    src: url(fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: Nunito ExtraBold Italic;
    src: url(fonts/Nunito/Nunito-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito ExtraLight;
    src: url(fonts/Nunito/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: Nunito ExtraLight Italic;
    src: url(fonts/Nunito/Nunito-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Italic;
    src: url(fonts/Nunito/Nunito-Italic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Light;
    src: url(fonts/Nunito/Nunito-Light.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Light Italic;
    src: url(fonts/Nunito-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: Nunito Regular;
    src: url(fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Nunito SemiBold;
    src: url(fonts/Nunito/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: Nunito SemiBold Italic;
    src: url(fonts/Nunito/Nunito-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: Poppins Bold;
    src: url(fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Poppins Regular;
    src: url(fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Poppins Light;
    src: url(fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: Nunito Regular;
  src:  url('fonts/font-icons/icomoon.eot?ov18zu');
  src:  url('fonts/font-icons/icomoon.eot?ov18zu#iefix') format('embedded-opentype'),
    url('fonts/font-icons/icomoon.ttf?ov18zu') format('truetype'),
    url('fonts/font-icons/icomoon.woff?ov18zu') format('woff'),
    url('fonts/font-icons/icomoon.svg?ov18zu#icomoon') format('svg');
  font-style: normal;
}

.icon-angel-left-thin:before {
  content: "\e906";
}
.icon-angel-right-thin:before {
  content: "\e907";
}
.icon-archive-box-thin:before {
  content: "\e908";
}
.icon-check-mark-6:before {
  content: "\e909";
}
.icon-cloud-upload-thin:before {
  content: "\e90a";
}
.icon-database-thin:before {
  content: "\e90b";
}
.icon-download-thin:before {
  content: "\e90c";
}
.icon-trash-can-thin:before {
  content: "\e90d";
}
.icon-upload-thin:before {
  content: "\e90e";
}

.icon-reload-thin:before {
  content: "\e900";
}

.icon-iconmonstr-check-mark-6:before {
  content: "\e909";
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Nunito Regular' !important;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shake {
	
  0% {transform: translate(0px, 0px) rotate(0deg); } 
  50% {transform: translate(0px, -30px) rotate(0deg);}
  100% {transform: translate(0px, 0px) rotate(0deg); } 
}